.nav-bar {
  display: flex;
  height: 3rem;
  padding: 1rem;
  width: 100%;
  background-color: lightblue;
  color: black;
  gap: 5rem;
  position: fixed;
  top: 0;
}
.left-side {
  display: flex;
  gap: 2rem;
}

.right-side {
  display: flex;
  justify-items: flex-end;
}

a {
  color: black;
}