.post-details {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  padding: 1rem;
  width: 60%;
  border: 1px solid black;
  margin-top: 6rem;
  margin: 6rem auto;
}

.post-details .title {
  text-decoration: underline;
  text-align: center;
}

.post-details .footer {
  display: flex;
  align-items: center;
  gap: 2rem;
  justify-content: center;
}

.footer .btn {
  width: 5rem;
  height: 2rem;
  border: none;
  cursor: pointer;
}

.footer .btn-delete {
  background-color: red;
}

.footer .btn-edit {
  background-color: lightblue;
}
